In [13]:
import numpy as np

np.random.randint를 사용한 faltten()

In [45]:
num = np.random.randint(0, 10, (10, 10)) #0~10까지 숫자, 10x10 행렬

flatten 사용 전

In [46]:
num

array([[5, 0, 7, 7, 4, 1, 7, 2, 9, 2],
       [6, 0, 1, 8, 5, 8, 2, 2, 2, 6],
       [2, 1, 6, 6, 6, 1, 3, 0, 7, 2],
       [7, 7, 7, 7, 5, 8, 3, 0, 8, 0],
       [1, 1, 4, 9, 5, 1, 6, 8, 4, 6],
       [5, 2, 4, 1, 2, 9, 1, 6, 2, 3],
       [5, 7, 7, 0, 8, 9, 0, 8, 2, 9],
       [4, 6, 2, 8, 9, 5, 4, 1, 4, 1],
       [1, 0, 9, 1, 6, 9, 1, 2, 9, 0],
       [9, 4, 9, 8, 8, 4, 3, 8, 3, 5]])

flatten 사용 후

In [58]:
num.flatten()

array([5, 0, 7, 7, 4, 1, 7, 2, 9, 2, 6, 0, 1, 8, 5, 8, 2, 2, 2, 6, 2, 1,
       6, 6, 6, 1, 3, 0, 7, 2, 7, 7, 7, 7, 5, 8, 3, 0, 8, 0, 1, 1, 4, 9,
       5, 1, 6, 8, 4, 6, 5, 2, 4, 1, 2, 9, 1, 6, 2, 3, 5, 7, 7, 0, 8, 9,
       0, 8, 2, 9, 4, 6, 2, 8, 9, 5, 4, 1, 4, 1, 1, 0, 9, 1, 6, 9, 1, 2,
       9, 0, 9, 4, 9, 8, 8, 4, 3, 8, 3, 5])

flatten을 enumerate로 정렬하기

In [59]:
fla = num.flatten()
for i in enumerate(fla):
  print(i)

(0, 5)
(1, 0)
(2, 7)
(3, 7)
(4, 4)
(5, 1)
(6, 7)
(7, 2)
(8, 9)
(9, 2)
(10, 6)
(11, 0)
(12, 1)
(13, 8)
(14, 5)
(15, 8)
(16, 2)
(17, 2)
(18, 2)
(19, 6)
(20, 2)
(21, 1)
(22, 6)
(23, 6)
(24, 6)
(25, 1)
(26, 3)
(27, 0)
(28, 7)
(29, 2)
(30, 7)
(31, 7)
(32, 7)
(33, 7)
(34, 5)
(35, 8)
(36, 3)
(37, 0)
(38, 8)
(39, 0)
(40, 1)
(41, 1)
(42, 4)
(43, 9)
(44, 5)
(45, 1)
(46, 6)
(47, 8)
(48, 4)
(49, 6)
(50, 5)
(51, 2)
(52, 4)
(53, 1)
(54, 2)
(55, 9)
(56, 1)
(57, 6)
(58, 2)
(59, 3)
(60, 5)
(61, 7)
(62, 7)
(63, 0)
(64, 8)
(65, 9)
(66, 0)
(67, 8)
(68, 2)
(69, 9)
(70, 4)
(71, 6)
(72, 2)
(73, 8)
(74, 9)
(75, 5)
(76, 4)
(77, 1)
(78, 4)
(79, 1)
(80, 1)
(81, 0)
(82, 9)
(83, 1)
(84, 6)
(85, 9)
(86, 1)
(87, 2)
(88, 9)
(89, 0)
(90, 9)
(91, 4)
(92, 9)
(93, 8)
(94, 8)
(95, 4)
(96, 3)
(97, 8)
(98, 3)
(99, 5)